body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  margin-top: 2.4rem;
  height: calc(100vh - 7.2rem - 3 * 2.4rem);
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.box {
  width: 42rem;
  max-width: 42rem;
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  position: relative;
}
.btn-toggle {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
}

.list {
  border-radius: 1rem;
  list-style: none;
  padding: 0.8rem;
  background-color: #c7c8cc;
}
.list.list-item li {
  height: 80px;
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-item li:hover {
  background-color: grey;
}
.request {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
  background-color: hsl(210deg 100% 44%);
  border-radius: 12px;
  overflow: hidden;
  transition: 31ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.request:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  opacity: 1;
}

.request:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.request:hover:before {
  transition: all 0s;
  transform: translateY(100%);
  opacity: 0;
}

.request i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
}

.request:hover i {
  transition: all 0.2s ease;
  transform: translateY(0px);
  opacity: 1;
}

.request:hover i:nth-child(1) {
  transition-delay: 0.045s;
}

.request:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
}

.request:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
}

.request:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
}

.request:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
}

.request:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
}

.request:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
}

.request:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
}

.request:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
}

.change {
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

.change span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.change:hover {
  background-color: #0071e2;
}
